:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

  
body {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none !important;
  color: inherit !important;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 колонок */
  gap: 16px; 
}
.cursor-default{
  cursor: default;
}
.cursor-pointer{
  cursor: pointer;
}